header
	.container
		.logo.header-logo
			span Affiliate network
			span for selling
			span trend products 
		nav.main-nav
			.nav-mobile
				span.nav-mobile__line.nav-mobile__line--top
				span.nav-mobile__line.nav-mobile__line--middle
				span.nav-mobile__line.nav-mobile__line--bottom
			ul.main-nav__list
				li
					a(href="javascript:void(0);") What will you be doing?
				li
					a(href="javascript:void(0);") Advantages of working with us
				li
					a(href="javascript:void(0);") Contacts
