header
	.container
		.logo.header-logo
			span.gradi Affiliate  network
			span.gradi for  selling
			span.gradi trend  products 
		nav.main-nav
			.nav-mobile
				span.nav-mobile__line.nav-mobile__line--top
				span.nav-mobile__line.nav-mobile__line--middle
				span.nav-mobile__line.nav-mobile__line--bottom
			ul.main-nav__list
				li
					a(href="#doing").scroll-link What will you be doing?
				li
					a(href="#why").scroll-link Advantages of working with us
				li
					a(href="#invite").scroll-link Contacts
