footer
	padding 25px 0
	background-color darkColor
	
	.container
		display flex
		justify-content space-between
		
	a 
		color white
		
.footer-phone
	font-size 20px
	
.footer-politic
	text-decoration underline
	font-size 16px
	
	