extends ../layout/main

block title
	| Главная страница

block content	
	include ../sections/top-banner
	include ../sections/about-us
	include ../sections/doing
	include ../sections/price
	include ../sections/why
	include ../sections/review
