//Colors 
grayBg = #f6fafb
blueColor = #4a90e2
priceBorderColor = #ebeff0
purpureColor = #463d73
borderGrayColor = #e1e1e1
inviteBgColor = #717aff

// Color text

lightGrayTextColor = #999
mainTextColor = #333


// Fonts

mainFont = "MuseoSansMedium", Arial, sans-serif
boldFont = "MuseoSansBold", Arial, sans-serif
boldesFont = "MuseoSansBoldBlack", Arial, sans-serif
lightFont = "MuseoSansLight", Arial, sans-serif
mediumFont = "MuseoSansRegular", Arial, sans-serif
sectionTitleFont = "MyriadProRegular", Arial, sans-serif

// Gradient

gradientBackground = linear-gradient(90deg, rgb(113, 122, 255), rgb(223, 119, 255))


