.doing-descr
	display block
	margin-bottom 60px
	font-size 24px
	text-align center
	
.doing-icons
	display flex
	flex-wrap wrap
	justify-content space-between
	
.doing-icons__item
	position relative
	width 17%
	padding-top 140px
	margin-bottom 80px
	font-size 16px
	text-align center
	&:before
		content ''
		position absolute
		top 5px
		left 50%
		transform translateX(-50%)
		
	&:after
		content ''
		position absolute
		right -40px
		top 40px
		display block
		sprite($s-doing-arrow)
		
	&:last-child
		
		&:after
			display none
		
.doing-icon__seo
	&:before
		sprite($s-doing-seo)
		
.doing-icon__shop
	&:before
		sprite($s-doing-shop)
		 
 .doing-icon__call
	&:before
		sprite($s-doing-call)
		 
 .doing-icon__send
	&:before
		sprite($s-doing-send)
		 
 .doing-icon__money
	&:before
		sprite($s-doing-money)
		 
	
	
