.invite
	padding 60px 0
	background-color inviteBgColor
	
	.section-title
		margin-bottom 60px
		color white
		
		&:after
			display none

.invite-form
	display flex
	justify-content space-around
	width 100%
	max-width 940px
	margin 0 auto
	
	input
		width 30%
		