.region
	padding 60px 0
	background purpureColor url('../img/general/map.png') center no-repeat
	background-size 60%
	overflow hidden
	
	.section-title
		color white
		
		&:after
			background white
			
	.container
		min-height 725px
		padding 60px 0
	
	.open-form__wrap
		position absolute
		right 10%
		height 400px
		//margin 0
		background-color white
		
	.open-form__success
		position relative
		padding-top 70px 
		color #000
		
		.form-title 
			position absolute
			top 0
			
		&:before
			margin-bottom 60px
		
	.g-input
		border 2px solid borderGrayColor

.region-man__pic
	position absolute
	left 0px
	bottom -180px
	max-width 450px
	width 100%
	

					

	
