section.about-us
	.container
		.about-us__img
			img(src="static/img/general/about-us.png" alt="about-us") 
		.about-us__text
			p We have been supplying and selling trend products for 5 years already.
			p We constantly test new products, identify trends and supply them directly from the supplier.
			p Our marketers develop and launch websites, customize promotional products
