section.doing#doing
	.container
		h2.section-title What will You do
		span.doing-descr You will sell popular products through your own online store
		.doing-icons
			.js-doing-icons
				.doing-icons__item.doing-icon__seo
					span SEO, contextual advertising, social networks, Avito
				.doing-icons__item.doing-icon__shop
					span Online store
				.doing-icons__item.doing-icon__call
					span Call customer
				.doing-icons__item.doing-icon__send
					span Sending goods
				.doing-icons__item.doing-icon__money
					span Receive money