section.invite.gray-bg#invite
	.container
		h2.section-title Join our team!
		form.invite-form
			input(type="text" name="city" placeholder="City name").g-input
			input(type="text" name="phone" placeholder="Phone").g-input
			input(type="submit" value="Send").g-btn.g-btn--dark