section.price.gray-bg
	.container
			h2.section-title Our packages
			.price-slider
				.price-slider-prev
				.price-slider-next
				.js-price__slider
					.price-item
						h3.price-item__title Start
						ul.g-list
							li Setting up and connecting the landing page
							li Training
							li The first batch of goods on 
								b 20 000$.
							li Connect 1 channel advertising
								span.price-list__descr  Yandex.Direct

						.price-item__bottom
							span.price-item__number 50 000$
							a(href="#invite").scroll-link.g-btn Send



					.price-item
						h3.price-item__title Standart
						ul.g-list
							li Setting up and connecting the landing page
							li Training
							li The first batch of goods on 
								b 25 000$.
							li Connect 2 channel advertising
								span.price-list__descr  Yandex-Direct and Google Adwords
							li Connecting new trend products with 
								b a 30% discount
							li Account-support from our marketing agency for the first month

						.price-item__bottom
							span.price-item__number 75 000$
							a(href="#invite").g-btn Send


					
					.price-item
						h3.price-item__title Premium
						ul.g-list
							li Setting up and connecting the landing page
							li Training
							li The first batch of goods on 
								b 35 000$.
							li Connect 5 channel advertising
								span.price-list__descr  Yandex-Direct, Google Adwords,
								advertising in social networks
								promotion in Instagram
							li Connecting new trend products with 
								b  a 50% discount
							li Account-support from our marketing agency for the first month

						.price-item__bottom
							span.price-item__number 100 000$
							a(href="#invite").g-btn Send