section.region.gray-bg
	.container
		img(src="static/img/general/region-man.png" alt="region man").region-man__pic
		h2.section-title We open one representative office in the region
		.open-form__wrap
			form.open-form.open-form__banner
				span.form-title Check if Your city is free?
				input(type="text" name = "cityName" placeholder="City name").g-input
				input(type="text" name="phone" placeholder="Phone").g-input
				input(type="submit" value="Send").g-btn
			.open-form__success
				span.form-title Thank You for your application! 
				span Our manager will contact <br> You soon!