section.review.gray-bg
	.container
			h2.section-title Feedback from our customers
			//.review-slider
				.review-slider__next
				.review-slider__prev
				.js-review__slider
					//.review-item
						//.review-item__content
							iframe(src="https://www.youtube.com/embed/2VUludkxZz0" frameborder="0" allowfullscreen)

					//.review-item
						//.review-item__content
							iframe(src="https://www.youtube.com/embed/S_8WrECd0PU" frameborder="0" allowfullscreen)

					//.review-item
						//.review-item__content
							iframe(src="https://www.youtube.com/embed/2VUludkxZz0" frameborder="0" allowfullscreen)

					//.review-item
						.review-item__content
							iframe(src="https://www.youtube.com/embed/S_8WrECd0PU" frameborder="0" allowfullscreen)