section.top-banner
	h1 Become our partner <br> and get an online store in your area
	.open-form__wrap
		form.open-form.open-form__banner
			input(type="text" name = "name" placeholder="Name").g-input
			input(type="text" name="phone" placeholder="Phone").g-input
			input(type="submit" value="Send").g-btn
		.open-form__success
			span.success-text Thank You for your application! <br> Our manager will contact You <br> in the near future!
		

	
