section.why
	.container
			h2.section-title Why is it profitable to work with us?
			.why-content
				ul.g-list
					li
						b Terms payback 
						|- considering the minimum investment, you will pay for the first month

					li
						b The possibility of scaling 
						|- you will sell not only the goods, which we have connected you initially, - we constantly test new products, identify trends.

					li
						b Terms payback 
						|- considering the minimum investment, you will pay for the first month

					li
						b Terms payback 
						|- considering the minimum investment, you will pay for the first month

					li
						b Terms payback 
						|- considering the minimum investment, you will pay for the first month

					li
						b Terms payback 
						|- considering the minimum investment, you will pay for the first month

					li
						b Terms payback 
						|- considering the minimum investment, you will pay for the first month

					li
						b Terms payback 
						|- considering the minimum investment, you will pay for the first month

					li
						b Terms payback 
						|- considering the minimum investment, you will pay for the first month

					






					



